/**
 * Define in this file configuration variables for the webapp.
 *
 * The secret word consists in a decoded jwt. Send the encoded token, into the
 * requests header: 'x-access-token': 'encoded_jwt'.
 *
 * DB_URI is the the string to connect to the local mongodb database. It is not used in case of Heroku deployment
 * as in that case environment variable is used.
 *
 * Access and create account in: https://console.creatordev.io/index.html#/access-keys
 * to generate API access keys: LOGIN_ACCESS_KEY and LOGIN_ACCESS_KEY. Change the
 * generated keys in this file.
 *
 * CLIENT_NAME is the name of your sesame client connected to Device Server
 *
 * HOST is url to your webapp instance, change it accordingly depending on your setup.
 *
 * lock_webhook enables the software lock of door operations is set to true.
 *
 * ifttt module will cause applets to be called if set to true and your ifttt key pasted into this config file
 *
 */

module.exports = {
    app_secret: '<secret>',
    device_server_access_key : '<acess_key>',
    device_server_access_secret : '<access_secret>',
    client_name : 'SesameDevice',
    db_uri : 'mongodb://localhost/sesame',
    host : '<host_url>',
    lock_webhook : false,
    modules: {
        ifttt: {
            enabled: false,
            ifttt_key: '<ifttt_key>'
        }
    }


};